[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
python-dotenv = "*"
pinecone-client = "*"
langchain-openai = "*"
streamlit = "*"
azure-ai-documentintelligence = "*"
streamlit-pdf-viewer = "*"
wikipedia = "*"
langsmith = "*"
langchain-community = "*"
tavily-python = "*"
faiss-cpu = "*"
langchainhub = "*"
langchain-pinecone = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.11"
